In [1]:
import pandas as pd

In [2]:
df= pd.read_csv(r"D:\CosmiCode Internship\Week 2\Age Prediction.csv")

In [3]:
print(f"Columns are: {df.columns}")

Columns are: Index(['ID', 'Age_group', 'Age', 'Gender', 'PAQ605', 'Body Mass Index',
       'Blood Glucose after fasting', 'Diabetic or not', 'Respondent's Oral',
       'Blood Insulin Levels'],
      dtype='object')

In [4]:
print(f"First 10 rows are are: {df.head(10)}")

First 10 rows are are:       ID Age_group   Age  Gender  PAQ605  Body Mass Index  \
0  73564     Adult  61.0       2       2             35.7
1  73568     Adult  26.0       2       2             20.3
2  73576     Adult  16.0       1       2             23.2
3  73577     Adult  32.0       1       2             28.9
4  73580     Adult  38.0       2       1             35.9
5  73581     Adult  50.0       1       2             23.6
6  73587     Adult  14.0       1       2             38.7
7  73596     Adult  57.0       2       2             38.3
8  73607    Senior  75.0       1       2             38.9
9  73610     Adult  43.0       1       1             28.9

   Blood Glucose after fasting  Diabetic or not  Respondent's Oral  \
0                          110                2                150
1                           89                2                 80
2                           89                2                 68
3                          104                2                 84
4                          103                2                 81
5                          110                2                100
6                           94                2                202
7                          107                2                164
8                           89                2                113
9                           90                2                 95

   Blood Insulin Levels
0                 14.91
1                  3.85
2                  6.14
3                 16.15
4                 10.92
5                  6.08
6                 21.11
7                 20.93
8                 17.47
9                  3.24

In [5]:
null_values= df.isnull().sum()
print(f"Total null values are: {null_values}")

Total null values are: ID                             0
Age_group                      0
Age                            3
Gender                         0
PAQ605                         0
Body Mass Index                0
Blood Glucose after fasting    0
Diabetic or not                0
Respondent's Oral              0
Blood Insulin Levels           0
dtype: int64